<div class="d-flex justify-content-center">
  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('<%= asset_path('Library Animation Background.jpeg') %>'); background-size: center;">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><%= @user.nom %> <%= @user.prenom %></h3>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <%= image_tag("salah-eddine_zaame.jpg", alt: "Bootstrap", class: "rounded-circle border border-white", width: 32, height: 32) %>
          </li>
          <li class="d-flex align-items-center me-3">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
          </li>
          <li class="d-flex align-items-center">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
