

<h1>Détails du Document</h1>

<p><strong>Titre:</strong> <%= @document.titre %></p>
<p><strong>Type de Document:</strong> <%= @document.document_type %></p>
<p><strong>Auteur:</strong> <%= @document.author %></p>

<%= link_to "Retour", documents_path %>

