

<h1>Détails du ordinateur</h1>

<p><strong>Titre:</strong> <%= @ordinateur.marque %></p>
<p><strong>Type de ordinateur:</strong> <%= @ordinateur.modele %></p>

<%= link_to "Retour", ordinateurs_path %>

